.top-info-block{
    display: flex;
    flex-direction: row;
}

.top-info-block-all-text{
    width: 577px;
    gap: 32px;
}

.top-info-block-header{
    width: 577px;

    font-size: 60px;

    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    color: #333333;
}

.top-info-block-info-text{
    width: 497px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #333333;
}

.top-info-block__button-text {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    color: white;
}

.top-info-block-button {
    gap: 10px;
    width: 258px;
    height: 66px;
    background: #333333;
    border-radius: 40px;
}

.top-info-block-man-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
}

.top-info-block__man-image {
    width: 651px;
    height: 469px;
    margin-top: 30px;
    margin-left: 59px;
}